<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<header th:fragment="menuFragment">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark site-manager">
    <div class="container">
      <a class="navbar-brand" href="/"> <i class="fa fa-home"></i> </a>
      <a class="navbar-brand" href="/manager"> Manager Site </a>
      <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarsExample03"
          aria-controls="navbarsExample03"
          aria-expanded="false"
          aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav mr-auto">
          <li>
            <a class="nav-link" href="/user"> User </a>
          </li>
          <li>
            <a class="nav-link" href="/recipe"> Recipe </a>
          </li>

        </ul>
        <ul class="navbar-nav right-menus">
          <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
            <a
                class="nav-link dropdown-toggle active"
                href="#"
                id="user-menus"
                data-toggle="dropdown"
                aria-haspopup="false"
                aria-expanded="false"
            >
              <i class="fa fa-user"></i>
              <span sec:authentication="name"> KARO </span>
            </a>
            <div class="dropdown-menu" aria-labelledby="user-menus">
              <a class="dropdown-item" href="/user"> My account </a>
              <a class="dropdown-item" href="/logout"> Log Out </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
</html>
